* {
    font-family: 'Poppins';
}

body {
    background: #fff;
}

.container-fluid .navbar-brand {
    margin-left: 50%;
    font-size: 22px;
}

button a {
    text-decoration: none;
    color: white;
}

.card ul li {
    cursor: pointer;
}
